# Ignore list for KiCAD Projects
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
# Netlist files (exported from Eeschema)
*.net
# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
# Backup files
*-backups/
*auto_saved_files*
# CI temporary files
kicad_ci_test.erc
drc_result.rpt
kicad_ci_test.csv
kicad_ci_test.kicad_pcb-bak
kicad_ci_test.sch-bak
